# Sample DAG: install the library package (pulls Airflow + servicepulse-client).
#   pip install "git+https://github.com/servicepulsehq/integrations.git#subdirectory=libraries/airflow-servicepulse"
servicepulse-airflow @ git+https://github.com/servicepulsehq/integrations.git#subdirectory=libraries/airflow-servicepulse
